{% extends 'bootstrap/base.html' %}

{% block styles %}

{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block title %}Coffee and Wifi{% endblock %}


{% block content %}

<div class="jumbotron text-center" style="background-image: url('static/images/coffee-bg.jpg');">>
  <div class="container">
  <h1 class="display-4">Cafe and Wifi</h1>
  <p class="lead">Want to work, but you need a delicious coffee and fast wifi?</p>
  <hr class="my-4">
  <p>You are where you needed to be, here are the best choice of cafe's for you in Santa Cruz de Tenerife</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="{{ url_for('cafes_') }}"" role="button">Show me!</a>
  </div>
</div>

{% endblock %}
